langchain_community
langchain-huggingface
langchain-google-genai
langchain_core
langserve
google-generativeai
streamlit
python-dotenv
fastapi
ipykernel
bs4
chromadb
faiss-cpu
PyPDF2
pdf2image
youtube-transcript-api
pathlib